*{
    margin:0;
    padding:0;
}



h1{
    background-color: #333333 #eaeaea;
   
    

}

.table{
    max-width: 100%;
    max-height: 55vh;
}

#codigos{
    display:none;
}
/* #busquedas{
   display:none; 
} */


